<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <title>Create Message</title>
  </head>
  <body class="bg-gray-100 font-sans">
    <%- include("headers.ejs")%>
    <div class="container mx-auto p-6 max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Create Message</h2>
      
      <% if (errors && errors.length > 0) { %>
      <div class="errors bg-red-100 text-red-700 p-4 rounded-lg mb-4">
        <ul class="list-disc list-inside">
          <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
      
      <form action="/create-message" method="POST" class="bg-white p-6 rounded-lg shadow-md">
        <input type="hidden" id="currentDateTime" name="dateTime" />
        
        <div class="mb-4">
          <label for="title" class="block text-gray-700 font-semibold mb-2">Title:</label>
          <input type="text" name="title" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" maxlength="50" placeholder="Enter Title" required  />
        </div>
        
        <div class="mb-4">
                <label for="message" class="block text-gray-700 font-semibold mb-2">Message:</label>
                <textarea name="message" id="message"  rows="4" cols="50" placeholder="Enter your Message (under 300 characters)" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required ></textarea>
        </div>
        
        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Submit</button>
      </form>
    </div>

    <script>
      const currentDateTime = new Date().toISOString();
      document.getElementById("currentDateTime").value = currentDateTime;
    </script>
  </body>
</html>
