<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login</title>
  </head>
  <body>
    <%- include('headers.ejs')%>
    <h2>Login to your account</h2>
    <p>Don't have an account?<a href="/sign-up">Register here</a></p>
    <%if(errors && errors.length>0){%>
    <div class="errors">
      <%errors.forEach((error)=>{%>
      <ul>
        <li><%=error%></li>
      </ul>
      <%})%>
    </div>
    <%}%>
    <form action="/log-in" method="POST">
      <label for="username">Username:
        <input type="text" id="username" name="username" />
      </label>
      <label for="password">Password:
        <input type="password" id="password" name="password" />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
